.brand {
    color: #a1887f;
}
.address-bar {
    color: #a1887f;
}
.box {
    background-color: #d7ccc8;
}
.navbar-default {
    background-color: #d7ccc8;
}
footer {
    background-color: #d7ccc8;
}