<form role="form">
    <div class="welcome col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 text-center">
        <h2>Kedves Vendégeim!</h2>
        <p>Szeretnék egy online tanácsadási lehetőséggel is rendelkezésetekre állni.
            <br/> Bármilyen kérdés esetén, kérlek benneteket, töltsétek ki ezt a formot és 48 órán belül e-mailben megkapjátok válaszomat.
            <br/> Amennyiben akut probléma merül fel, vagy sürgős segítségre van szükségetek, kérlek, használjátok telefonos elérhetőségemet.</p>
    </div>
        <div class="form-group col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2">
            <label>Név</label>
            <input type="text" class="form-control">

            <label>Email-cím</label>
            <input type="email" class="form-control">

            <label>Telefonszám</label>
            <input type="tel" class="form-control">

        <div class="clearfix"></div>

            <label>Üzenet</label>
            <textarea class="form-control" rows="6"></textarea>

        <div class="form-group col-lg-12">
            <input type="hidden" name="save" value="contact">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>