<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="img/kozmi.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/kereszt.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="img/cosmetics.jpeg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Üdvözöllek oldalamon!</small>
                </h2>
                <h1 class="brand-name">Ignáth Edit Kozmetika</h1>
                <hr class="tagline-divider">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Kedves Vendégeim!</h2>
                <hr>
                <img class="img-responsive img-border img-left" src="img/cream.jpeg" alt="">
                <hr class="visible-xs">
                <p>Mint már sokan tudjátok, lassan 20 éve állok rendelkezésetekre Tiszavasvári kis szívében.
                    <br/>A könnyebb tájékozódás, időpontegyeztetés és tanácsadás érdekében, immár online is elérhető vagyok számotokra.</p>
                <p>Az új látogatóknak szeretnék röviden bemutatkozni.</p>
                <p>Ignáth Editnek hívnak, kis családommal Tiszavasváriban töltjük mindennapjainkat.
                    <br/> Kozmetikai tanulmányaimat több mint 20 éve kezdtem el, azóta folyamatos továbbképzéseken veszek részt, melynek köszönhetően sikerült megszereznem "mesterkozmetikus" képesítésemet.
                    <br/> A 2014-ben végzett tetoválás-tanfolyamnak köszönhetően, örömmel vállalok szemöldök és szemhéjtus festést.
                    <br/> Rendszerint heti váltásban dolgozok hétköznaponként délelőtt(8.00-13.00) és délután(13.00-19.00).
                    <br/> Természetesen különleges alkalmak esetén (ballagás, bál, esküvő, fotózás) - akár hétvégén is - smink készítésével teszem tökéletesebbé Vendégeim fontos napjait.
                    <br/> Előzetes időpont egyeztetést személyesen, telefonon, illetve immár a honlapon keresztül is lehetőségetek van intézni.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Elérhetőségek</h2>
                <hr>
                <div class="col-md-12 text-center">
                    <p>Phone:
                        <strong>+36/70-944-9485</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:name@example.com">ignath.edit@citromail.hu</a></strong>
                    </p>
                    <p>Address:
                        <strong>4440 Tiszavasvári, Bocskai u. 64.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Ignáth Edit 2017</p>
            </div>
        </div>
    </div>
</footer>

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
